.main-container {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.navbar {
  width: 100%;
  box-sizing: border-box;

  padding: 24px 48px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.75);
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo-text {
  color: #ffffff;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.logo-text-front {
  color: #5ac2f1;
}

.nav-links {
  width: 600px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link-text {
  color: #ffffff;
  text-decoration: none
}

.portfolio-button {
  color: #000000;
  background-color: white;
  padding: 12px 24px;
  text-align: center;
  border-radius: 16px;
  border-color: #5ac2f1;
  font-family: monospace;
}

.connect-button {
  color: white;
  background-color: #5ac2f1;
  padding: 12px 24px;
  text-align: center;
  border-radius: 16px;
  border-color: #5ac2f1;
  font-family: monospace;
  text-decoration: none
}

.bet-container{
  width: 100%;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 64px 0px;
  flex-direction: column;
  justify-content: space-between;
}

.input-container {
  display: flex;
  padding: 24px 64px;
  border: solid;
  border-color: #5ac2f1;
  border-width: 2px;
  border-radius: 16px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #464646;
}

.input-label {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.input-text {
  color: white;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  padding: 16px 16px;
  border-width: 0px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.2);
}

.token-pred {
  color: #5ac2f1;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  padding: 8px 8px;
}

.arrow-icon {
  width: 54px;
  height: 44px;
  align-self: center;
  fill: #464646;
}

.output-container {
  display: flex;
  padding: 24px 64px;

  border: solid;
  border-color: #5ac2f1;
  border-width: 2px;
  border-radius: 16px;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #464646;
}

.token-output {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-dropdown {
  color: white;
  border: none;
  background-color: #464646;
  font-weight: 700;
  padding: 5px 5px;
  font-size: 20px;
}

.submit-button{
  color: white;
  border: solid;
  border-color: #5ac2f1;
  border-width: 2px;
  background-color: #5ac2f1;
  border-radius: 16px;
  padding: 12px 24px;
  font-size: 30px;
  font-weight: 700;
}

.spacer{
  padding: 4px;
}

.odds{
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh-button{
  background-color: rgba(0, 0, 0, 0.2);
  border: solid;
  border-width: 1px;
  border-color: #5ac2f1;
  color: white;
  padding: 6px 12px;
  border-radius: 16px;
}
